.cardBox {
  width: auto;
  padding: 12px;
  box-shadow: -8px 7px 20px 0px grey;
  border: 1px #ccc solid !important;
  border-radius: 0.5rem !important;
}

.cardText {
  padding: 10px 20px;
  text-align: left;
  white-space: pre-line;
}

.cardTitle {
  text-align: center;
  width: auto;
}
