.container {
  margin-bottom: 40px !important;
  width: 440px !important;
}

@media (max-width: 767px) {
  .container {
    max-width: 362px;
  }
}

@media (max-width: 362px) {
  .btn {
    min-width: 100px;
  }
  .container {
    padding-right: 20px !important;
    max-width: 348px;
  }
}
