.backdrop {
  border-radius: 0.2rem;
  background: url("../assets/skyImage.jpg");
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  text-align: center;
  background-color: inherit;
}

.boxTitle {
  margin: 0;
  background-color: inherit;
}

.card {
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(218, 216, 216) !important;
  border-radius: 0.25rem;
  box-shadow: -8px 7px 20px 0px grey;
}

.error {
  margin: 2px;
  padding-top: 10px;
  color: rgb(255, 0, 0);
  position: relative;
}

.header {
  margin: 0;
  padding: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: rgb(179, 179, 179);
  font-size: 1.25rem;
}

.weatherBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weatherBox div {
  background-color: rgb(238, 238, 238);
  flex-basis: 45%;
  border: 1px #ccc solid;
  padding: 8px;
  border-radius: 0.25rem;
  box-shadow: -8px 7px 20px 0px grey;
}

.weatherBox h1 {
  font-size: 2.6rem;
  font-weight: 900;
}
