.jumbotron {
  background: url("../assets/grayCanvas.jpg");
  background-size: cover;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  height: 175px;
  position: relative;
  z-index: -2;
}

.overlay {
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(61, 61, 61, 0.25) 25%,
    rgba(122, 122, 122, 0.5) 50%,
    rgba(183, 183, 183, 0.75) 75%,
    rgba(244, 244, 244, 1) 100%
  );
  opacity: 1; */
  background: #2f3b44;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
