.box {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  text-align: center;
  background-color: rgb(179, 179, 179);
}

.boxTitle {
  margin: 0;
  padding: 10px 6px 0 6px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgb(179, 179, 179);
  font-size: 1.25rem;
}

.card {
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(219, 219, 219) !important;
  border-radius: 0.25rem;
}

.error {
  margin: 2px;
  padding-top: 10px;
  color: rgb(255, 0, 0);
  position: relative;
}

.header {
  margin: 0;
  padding: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: rgb(179, 179, 179);
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .weatherBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.weatherBox div {
  background-color: rgb(238, 238, 238);
  flex-basis: 45%;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 0.25rem;
}

.weatherBox h1 {
  font-size: 2.6rem;
  font-weight: 900;
}
